@import url("styles/heades.css");


:root {
    --cor-de-fundo: #ebecee;
    margin: 0;
    padding: 0;
    --branco: #ffffff;
    --laranja: #f25a70;
    --azul-degrade: linear-gradient(180deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
}

body {
    background-color: var(--cor-de-fundo);
}