.border{
    box-sizing: border-box;
    width: 100%;
}
.banner{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1rem;
   

    color: var(--branco);
   
}

.banner__titulo{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.banner__texto{
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem;
    width: 95%;
   
}

.input__campo{
    color: var(--branco);
    font-size: 1.2rem;
    width: 100%;
    padding: 1rem;
    border-radius: 24px;
    border-color: var(--cinza);
    text-align: center;
    background-color: transparent;

}

.input__campo::placeholder{
    color: var(--branco);
    font-size: 1.2rem;
    text-align: center;
    background: url(../imagens/Lupa.svg) no-repeat;
}

